.nav-color{
    background-color: darkcyan;
}
.nav-align{
    justify-content: flex-end;
}
body{
    background-image: linear-gradient(to right, darkcyan, cyan, darkcyan );
}

.lorem{
    font-size: medium;
}
.carousel{
    display: flex;
    justify-content: center;
}
.img{
    justify-items:center;
}

